@media only screen and (max-width: 600px) {
    .App {
        font-family: 'Roboto';
    }
    
    #principal {
        overflow: hidden;
    }
    
    #banner {
        position: absolute;
        width: 124px;
        height: 77px;
        left: 0px;
        top: 0px;
    }

    #navlogo {
        position: absolute;
        width: 32px;
        height: 24px;
        left: 90%;
        top: 17px;
        color: #726DA8;
    }

    #semn {
        position: absolute;
        width: 177px;
        height: 296px;
        left: 73px;
        top: 44px;
    }

    #containerSemn {
        position:absolute;
        pointer-events: none;
        transform:translateX(-50%);
        display:flex;
        left:50%;
    }

    .panc1 {
        position: relative;
        transform: translateX(170px) translateY(60px);
        z-index:3;
    }

    .panc2 {
        position: relative;
        transform: translateX(14px) translateY(125px);
        z-index:3
    }

    .panc3 {
        position: relative;
        transform: translateX(-150px) translateY(185px);
        z-index:3
    }

    .batpoza {
        position: relative;
        transform: translateX(-230px) translateY(150px);
        z-index:-2;
    }

    .limita {
        max-width:500px;
    }

    .elipsa {
        position: absolute;
        width: 619px;
        height: 619px;
        left: calc(50% - 619px/2 + 0.5px);
        top: 321px;
        color: #726DA8;
        z-index:-1;
    }

    .text1 {
    position: absolute;
    left: 25.46%;
    right: 24.26%;
    top: 19.83%;
    bottom: 68.11%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    transform: rotate(4.5deg);
    }

    .text2 {
    position: absolute;
    left: 6.78%;
    right: 10.17%;
    top: 99.07%;
    bottom: 38.51%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;

    color: #FFFFFF;

    transform: rotate(0.88deg);
    }

    





}
