@media only screen and (max-width: 600px) {
    #principal {
        overflow: hidden;
    }
    
    #banner {
        position: absolute;
        width: 124px;
        height: 77px;
        left: calc(50% - 124px/2 - 98px);
        top: 0px;
    }

    #navlogo {
        position: absolute;
        width: 32px;
        height: 24px;
        left: 90%;
        top: 17px;
        color: #726DA8;
    }

    #semn {
        position: absolute;
        width: 177px;
        height: 296px;
        left: 73px;
        top: 44px;
    }

    #containerSemn {
        position:absolute;
        pointer-events: none;
        transform:translateX(-50%);
        display:flex;
        left:50%;
    }

    .panc1 {
        position: relative;
        transform: translateX(170px) translateY(60px);
    }

    .panc2 {
        position: relative;
        transform: translateX(265px) translateY(60px);
    }

    .panc3 {
        position: relative;
        transform: translateX(265px) translateY(60px);
    }

    .batpoza {
        position: relative;
        transform: translateX(265px) translateY(60px);
    }

    .limita {
        max-width:500px;
    }

    .elipsa {
        position: absolute;
        width: 619px;
        height: 619px;
        left: calc(50% - 619px/2 + 0.5px);
        top: 321px;
        color: #726DA8;

    }



}
