/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.ComponentaEchipa{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    transform: translateX(20%);
}   

.Sergiu {
width: 102px;
height: 125px;
margin-bottom: 10px;
}

/* Coordonator */
.Coordonator {
    color: white; 
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.Sergiu1 {
    text-align: left;
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}


.Arrow1 {
    position: absolute;
    transform: translateX(-25px) scale(1.2);
}
